html{
    --actionable-color: #0bd448;
}

body{
  font-family: "Montserrat", serif;
}

.nav{
    width: 1680px;
    height: 60px;
    background-color: aqua;
    flex-shrink: 0;
    display: flex;
}

button{
    font-size: 200px;
    background-color: var(--actionable-color);
}

.nav ul li a{
    list-style-type: none;
    
}

.hero-section{
    max-width: auto;
    height: 960px;
    flex-shrink: 0;
}

h1{
    display: flex;
    width: 1392px;
    height: 80px;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
}
