html{
    color: var(--Actionable-Item, #18A0FB);
}

body{
  font-family: "Montserrat", serif;
}

.nav{
    width: 1680px;
    height: 60px;
    flex-shrink: 0;
}

.hero-section{
    max-width: auto;
    height: 960px;
    flex-shrink: 0;
}

h1{
    display: flex;
    width: 1392px;
    height: 80px;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
}
