html{}

body{
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font: weight 400px;;
  font-style: normal;
}

.nav{
    width: 1680px;
    height: 60px;
    flex-shrink: 0;
    background: #FFF;
}

.hero-section{
    max-width: 1200px;
    height: 960px;
    flex-shrink: 0;
    background: var(--Actionable-Item, #18A0FB);
}

h1{
    display: flex;
    width: 1392px;
    height: 80px;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
}
